  body {
    background-color: #777;
  }

  .cover { position: relative; }

  .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1) translateZ(0);
  }

  .page h2 {
    color: steelblue;
  }

  .col {
    display: inline-block;
    vertical-align: top;
  }

  .page-cover .title {
    padding-left: .5em;
    white-space: nowrap;
    font-size: 9em;
    color: #fff;
    letter-spacing: .5em;
    border-radius: 5px;
    text-shadow: 0 0 50px #fff;
  }

  .page-cover .sub-title {
    font-size: 18px;
    color: #333;
    text-shadow: 0 0 50px #fff;
  }

  .page-cover .author {
    margin-top: 2em;
    color: #fff;
  }

  .page-cover .author img {
    margin-right: 1em;
    width: 24px;
    vertical-align: middle;
  }
  
  .css-syntax {
    position: relative;
    padding: 20px;
    font-size: 18px;
  }

  .css-syntax i {
    font-style: normal;
  }

  .css-syntax:hover i:hover {
    background: #f30;
  }

  .css-syntax:hover i {
    padding: 3px 5px 4px;
    border-radius: 10px;
    background: #04f;
    margin: 0 3px;
  }

  .css-syntax code {
    display: inline-block;
    background: #039;
    line-height: 1;
    padding: 6px 10px 8px;
    border-radius: 10px;
    color: #fff;
  }

  .page-center > article,
  .page-end > article {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }

  .page-center p {
    font-size: 60px;
  }

  .page-end p {
    font-size: 100px;
  }
  
